<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-navbar">
    <a class="navbar-brand" href="/">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/584px-Twitter-logo.svg.png" />
</a>

  </div>
</div>
